<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CAMP Login Error</title>
        <link rel="stylesheet" href="/static/camp.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div id="login-error">{{ error_message }}</div>
        <div id="column">
            <form id="login" name="login" method="POST" action="/login">
                <label for="uname" value="{{ uname }}">user name</label>
                <input id="uname" type="text" name="uname">
                <label for="password">password</label>
                <input id="password" type="password" name="password">
                <span></span>
                <input type="submit" value="log in">
            </form>
        </div>
    </body>
</html>