@font-face {
    font-family: "PT Sans";
    src: url("/static/PT_Sans-Narrow-Web-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "mplus1m";
    src: url("/static/mplus-1m-regular.woff2") format("woff2");
}

:root {
    --table-font: "PT Sans";
    --table-size: smaller;
    --mono-font: "mplus1m";
    --border-style: 1px solid #888;
    --accent-bg: #ddd;
    --bad: #822;
}

* {
    border: 0; margin: 0; padding: 0;
    box-sizing: border-box;
}

body { padding: 1rem; }
div.center { text-align: center; }
ul { padding-left: 2em; }
p { text-align: justify; }
kbd { font-family: var(--mono-font, monospace); }
.bad { color: var(--bad); }
.right { text-align: right; }
.inline { display: inline-block; }

button {
    border: var(--border-style);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}
button img { width: 1.5em; }

div#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; gap: 1rem;
    background-color: var(--accent-bg);
}

div#controls {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
div#controls button label {
    width: 12ex;
    font-family: mplus1m, monospace;
}

div#cals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0; gap: 1rem;
    align-items: flex-start;
}

table.cal {
    border-collapse: collapse;
    font-family: var(--table-font);
    border: var(--border-style);
}

div.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5ex; gap: 1em;
    background-color: var(--accent-bg);
    cursor: pointer;
}
div.head > div {
    display: flex;
    gap: 0.5ex;
    flex-direction: column;
    justify-content: flex-end;
}
div.head > div:first-child { align-items: flex-start; }
div.head > div:last-child  { align-items: flex-end; }
div.head span.name { font-size: larger; }

table.inc span.name { color: var(--bad); }
table.lag span.lag { color: var(--bad); }
table.count span.count { color: var(--bad); }

table.cal tbody { display: none; }

table.cal tbody td,
table.cal tbody th { padding: 2px 0.5ex; }
table.cal td[title] { cursor: default; }
table.cal tbody td:nth-child(3),
table.cal tbody td:nth-child(4),
table.cal tbody td:nth-child(5) { text-align: center; }
table.cal tbody td:last-child { text-align: right; }

table.cal tbody tr { border-bottom: 1px dotted #888; }
table.cal tbody tr:last-child { border-bottom: none; }

table.cal tbody tr.done    { background-color: #cfc; }
table.cal tbody tr.late    { background-color: #ffc; }
table.cal tbody tr.overdue { background-color: #fcc; }
table.cal tbody tr.yet     { background-color: white; }
table.cal tbody tr.summary { 
    background-color: var(--accent-bg);
    text-align: right;
}

table.cal tbody tr.extra { background-color: var(--accent-bg); }
table.cal tbody tr.extra button {
    border: var(--border-style);
    border-radius: 0.5em;
    padding: 0.5em;
}

div#footer {
    display: flex;
    justify-content: space-between;
    font-family: var(--table-font);
}
ul.dotless {
    list-style-type: none;
    padding: 0;
}
ul.dotless > li {
    padding: 0.5ex;
    border: 1px dotted white;
}
ul.dotless > li:hover { border: var(--border-style); }
button#email-all { align-self: end; }

textarea#email-text {
    min-width: 40vw;
    min-height: 40vh;
    padding: 1ex;
    margin: 1rem;
}
dialog#edit-email p { text-align: center; }

dialog#view-pdf {
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    overflow: scroll;
}
dialog#view-pdf object {
    grid-column: span 2;
    min-height: 75vh;
    justify-self: stretch;
}

dialog#view-completion {
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    overflow: scroll;
}
dialog#view-completion table {
    font-family: var(--table-font);
    font-size: var(--table-size);
    text-align: left;
    white-space: nowrap;
    border-collapse: collapse;
    margin-bottom: 1rem;
}
dialog#view-completion table tr:nth-child(even) { background-color: var(--accent-bg); }
dialog#view-completion table tr:nth-child(odd) td:nth-child(2) div:nth-child(even) { background-color: #dde; }
dialog#view-completion table tr:nth-child(even) td:nth-child(2) div:nth-child(even) { background-color: #ede; }

dialog#view-completion table td { border: 0; }
dialog#view-completion table td kbd { margin-left: 1rem; }
dialog#view-completion table td:first-child { padding: 0.5ex 1ex; }
dialog#view-completion table td:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
dialog#view-completion table td:nth-child(2) div {
    display: inline-block;
    text-align: left;
    padding: 0.5ex 1ex;
    border: 0; margin: 0;
}