<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CAMP Login Error</title>
        <link rel="stylesheet" href="/static/camp.css">
        <link rel="stylesheet" href="/static/util.css">
        <link rel="icon" type="image/png" href="/static/camp_icon.png">
        <script src="/static/pwd_reset.js" defer></script>
    </head>
    <body>
        <h1>Log In</h1>
        <div id="login-error">{{ error_message }}</div>
        <div id="column">
            <form id="login" name="login" method="POST" action="/login" class="twocol">
                <label for="uname">user name</label>
                <input id="uname" type="text" name="uname" value="{{ uname }}"
                       pattern="^[a-zA-Z0-9]+$" required>
                <label for="password">password</label>
                <input id="password" type="password" name="password">
                <span></span>
                <input type="submit" value="log in">
            </form>
    
            <p id="forgot-link">I forgot my password.</p>
    
            <p id="forgot-instructions">
                An email has been sent to the address associated with the supplied
                user name. It contains an authorization key required to reset your
                password. Paste that authorization key into the form below when
                specifying your new password.
            </p>
    
            <form id="forgot" name="forgot" class="twocol">
                <label for="forgot-key">key</label>
                <input name="key" id="forgot-key" size="32" required>
                <label for="forgot-password">new password</label>
                <input type="password" name="password" id="forgot-password">
                <span></span>
                <button type="button" id="forgot-submit">
                    <label>reset password</label>
                </button>
            </form>
        </div>

        <div id="progress">
            <img src="/static/blue_waiting.gif">
            <ul></ul>
        </div>

        <div id="error">
            <img src="/static/error.svg">
            <ul></ul>
            <button id="dismiss-errors">
                <label><img src="/static/dismiss.svg"></label>
            </button>
        </div>

        <script src="/static/util.js"></script>
    </body>
</html>